html {
	scroll-behavior: smooth;
	font-family: "Lora", serif;
}
body {
background: url(/img/background2.webp);
background-size: cover;
background-repeat: no-repeat;
background-position: 0 0;
background-attachment: fixed;
}
